<nav class="bg-dark text-white p-3 d-flex flex-column" style="width: 250px; height: 100vh;">
    <h4 class="fw-bold text-center mb-4">Menu</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-house-door me-2"></i> Início
            </a>
        </li>
        <li class="nav-item">
            <a href="/despesas" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-cash-coin me-2"></i> Despesas
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-person me-2"></i> Perfil
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-gear me-2"></i> Configurações
            </a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-box-arrow-left me-2"></i> Sair
            </a>
        </li>
    </ul>
</nav>